*{
    box-sizing: border-box;
    margin: 0;padding: 0;
   font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right ,#6d6df079,#96e6a1);
    animation: colorchange 10s infinite alternate;
}
@keyframes colorchange{
    0%{
        background: #e0c3fc;
    }
    100%{
        background:#c3e8fc ;
    }
}
.container{
    display: flex;
    flex-direction: column;
     align-items: center;
     background:rgba(255,255,255,0.7) ;
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
     width: 50%;
}
h2{
    margin: 5px;
}
div{
    margin: 15px;
}
button{
    margin:0.5rem;
    padding: 0.8rem;
    cursor: pointer;
    width: 150px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: rgba(73, 72, 72, 0.5);
    color: snow;
    transition: background-color 0.3s , trasnfrom 0.2s;
}
button:hover{
    background: #88cff3;
    transform: scale(1.05);
}
.gen{
    font-size: 2rem;
    padding: 1rem;
    background:#6d6d6d ;
    color: rgb(227, 225, 225);
    text-align: center;
    border-radius: 5px;
    width: 250px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}
.client-text{
    text-align: center;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;


}
